*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Poppins",sans-serif;
}

::selection{
    color: #E1AEFF;
    background-color: #2F0F5D;
}

.wrapper{
    width: 280px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #E1AEFF;
    padding: 40px 20px 20px;
    border-radius: 10px;
    
}

.nums-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.wrapper input{
    width: 100%;
    margin-bottom: 30px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border: 0;
    font-size: 18px;
    padding: 10px;
}

.opt{
    background-color: #2F0F5D;
    color: #fff;
}

.opt:hover{
    background-color: #542696;
}

button:hover{
    background-color: #ccc;
}